body {
  background-color: cornsilk;
}

.navbar {
  margin-bottom: 30px;
}

.navbar-nav {
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.logo {
  width: 100px;
  height: 100px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.users-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
